@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  /* Negro puro */
  background-image:
    radial-gradient(circle at 50% 0%, rgba(234, 179, 8, 0.15), transparent 40%),
    radial-gradient(circle at 100% 0%, rgba(234, 179, 8, 0.1), transparent 30%);
  color: #ffffff;
  min-height: 100vh;
}